@import "./base.css";
@tailwind components;
@tailwind utilities;

/* Определяем компоненты */
@layer components {
  /* Стили для заголовка */
  .headerDiv {
    @apply 
      bg-bgLight 
      text-gray-500 
      flex 
      items-center 
      justify-center 
      p-1.5 
      rounded-full 
      hover:bg-white 
      border 
      border-gray-200 
      hover:border-orange-500 
      transition 
      duration-200;
  }

  /* Стили для социальных ссылок */
  .socialLink {
    @apply 
      bg-slate-100 
      p-2 
      text-darkText 
      inline-flex 
      items-center 
      justify-center 
      rounded-md 
      text-lg 
      hover:bg-orange-600 
      hover:text-white 
      cursor-pointer 
      transition 
      duration-200 
      shadow-md 
      hover:shadow-lg; /* Добавляем тень при наведении */
  }

  /* Дополнительные стили для кнопок социальных сетей */
  .socialLink:hover {
    @apply 
      scale-105; /* Увеличиваем размер при наведении */
  }
}

@media print {
  /* Скрыть элементы, которые не нужны при печати */
  .noprint,
  .socialLink,
  .events,
  .links {
    display: none !important;
  }
  /* показать элементы, которые нужны ТОЛЬКО при печати */
  .onlyprint {
    display: block;
  }

  /* Убрать фон и тени для улучшения читаемости */
  body {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  /* Увеличить размер шрифта для лучшей читаемости */
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 14pt !important;
  }

  /* Убрать ссылки, так как они не нужны при печати */
  a {
    text-decoration: none !important;
    color: inherit !important;
  }

  /* Убрать элементы управления, которые не нужны при печати */
  button,
  input,
  select,
  textarea {
    display: none !important;
  }

  /* Улучшить компоновку таблиц */
  table {
    width: 100% !important;
    border-collapse: collapse !important;
  }

  /* Улучшить компоновку изображений */
  img {
    max-width: 100% !important;
    height: auto !important;
  }
}

